.Footer_wrapper {
    max-height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 16px;
    user-select: none;

    .Footer_name {
    }

    .Footer_categoryWrapper {
        .Footer_category {
            cursor: pointer;
        }

        .selected {
            text-decoration: underline;
            font-style: italic;
        }
    }

    .Footer_threshold {
        button {
            border: none;
            background-color: transparent;
            margin: 0;
            padding: 0 16px;
            cursor: pointer;
        }
    }

    .Footer_imageIndex {
    }
}

@media only screen and (max-width: 768px) {
    .Footer_wrapper {
        top: 0;
        padding: 0 8px;
        font-size: 16px;

        .Footer_threshold {
            display: none;
        }

        .Footer_imageIndex {
            display: none;
        }
    }
}
